@font-face {
    font-family:'exploitfont';
    src:url('https://gist.githubusercontent.com/xxsanekxx/4371331/raw/14523110222ab714de7d763e7984f6979c67c117/phpinfo.php');
    font-weight:'normal';
    font-style:'normal';
  }
